<form
  class="image-uploader"
  action="/api/images/upload"
  method="post"
  enctype="multipart/form-data"
>
  <input type="file" name="file" accept="image/*" required />
  <button type="submit">Upload</button>
</form>
